.features {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-box {
  display: none;
}

.features-icon {
  display: inline-block;
}

/* .features-list {
  display: flex;
  gap: 24px;
} */

@media screen and (max-width: 767px){
  .features-item:not(:last-child) {
    /* width: calc((100% - 72px) / 4); */
    margin-bottom: 72px;
  }
}

.features-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-subtitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #434455;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .features-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item{
    margin-bottom: 0;
    width: calc((100% - 24px) / 2);
  }

  .features-title{
    justify-content: flex-start;
  }
}

/* desctop */
@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }

  .features-box {
    width: 264px;
    height: 112px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .features-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }

  .fetures-item {
    width: calc((100% - 72px) / 4);
  }

  .features-title {
    display: block;
    font-size: 20px;
    font-weight: 500;
  }

  .features-subtitle {
    line-height: 1.5;
    font-weight: 400;
  }
}