/* main: section [1] */
/* mobile */
.hero {
  background-color: #2e2f42;
  padding: 112px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), url(../images/bg-mobile@2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* @media only screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/bg-mobile@2x.jpg);
  }
} */

@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url('../images/bg-mobile.jpg');
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url('../images/bg-tablet.jpg');
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url('../images/bg-tablet@2x.jpg');
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url('../images/bg-desctop.jpg');
  }
}

@media only screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url('../images/bg-desctop@2x.jpg');
  }
}

.hero-title {
  max-width: 320px;
  font-size: 36px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
}

/* tablet */
@media screen and (min-width: 768px) {
  .hero {
    padding: 188px 0;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 48px;
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/bg-tablet@2x.jpg);
  }
}

/* desctop */
@media screen and (min-width: 1158px) {
  .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)), url(../images/bg-desctop@2x.jpg);
    }
}